page-search-jobs {
    .content {
        background: #fff;
    }
    ion-segment.segment {
        background: #0abab5;
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }

        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
            color: #2d2d2d80;
            text-transform: none;
        }
    }
}