<ion-header>
  <ion-navbar>
    <img src="assets/imgs/ihouse_logo.png" width="50%" alt="">
  </ion-navbar>
</ion-header>
<ion-content no-padding padding-left padding-right>
  <div class="body">
    <ion-item *ngIf="myJobs.length == 0">
      <h1>{{'PLEASE' | translate}}!</h1>
      <h3>{{'DONT_JOBS' | translate}}</h3>
    </ion-item>
    <ion-list *ngIf="myJobs">
      <ion-item *ngFor="let job of myJobs" (click)="onVerDetalhes(job)">
        <ion-avatar item-start>
          <img [src]="job.category.img">
        </ion-avatar>
        <h1>{{job.category.name}}</h1>
        <ion-row>
          <ion-col>
            <p>{{job.timestamp}}</p>
          </ion-col>
          <ion-col>
            <ion-icon name="star" style="color: rgb(252, 214, 0);"></ion-icon>
            <ion-icon name="star" style="color: rgb(252, 214, 0);"></ion-icon>
            <ion-icon name="star" style="color: rgb(252, 214, 0);"></ion-icon>
            <ion-icon name="star" style="color: rgb(0, 0, 0);"></ion-icon>
            <ion-icon name="star" style="color: rgb(0, 0, 0);"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>